;; These are the values typically edited for local dev - reference config.edn for example values
{:admin-api-url         ""
 :admin-http-portal-url ""
 :app-title             ""
 :xmpp-domain           ""
 :muc-service           ""
 :default-test-password ""
 :jwt-secret            ""}